{% extends "base.html.twig" %}

{% block topo %}
    <div class="topo">
        <img src="{{ asset('img/logo-digital.jpeg') }}" />
    </div>
{%% endblock }

{% block title %} Cadastro de Usuário {% endblock %}

